.App {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groceryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groceryPage .ui.card {
  margin: 1em;
}

.groceryPage .ui.form {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  border: none;
}
.groceryPage .ui.form .field {
  width: 100%;
}

.groceryLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groceryList {
  border: solid green;
}

.scheduler {
  display: flex;
  justify-content: center;
}
.calendar {
  width: 90%;
  height: 95vh;
}

.eventForm {
  background-color: white;
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.ui.form {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 0.5em;
  border: black solid 1px;
  z-index: 1000;
}
