.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.ui.form {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 0.5em;
  border: black solid 1px;
  z-index: 1000;
}

.itemCrossed {
  text-decoration: line-through;
}
